extends ../layout

block content
    h1= title
    form#formAddWeapon(name="addweapon",method="post",action="/weapon/added")
        p
          input#weaponName(type="text", placeholder="Weapon Name", name="weaponName")
        p
          input#weaponStrenght(type="text", placeholder="Weapon Strenght", name="weaponStrenght")
        p
          input#weaponStamina(type="text", placeholder="Weapon Stamina", name="weaponStamina")
        p
          input#weaponSpellPower(type="text", placeholder="Weapon SpellPower", name="weaponSpellPower")
        p
          input#weaponMana(type="text", placeholder="Weapon Mana", name="weaponMana")
        p
          input#weaponCost(type="text", placeholder="Weapon Cost", name="weaponCost")
        p
          button#btnSubmit(type="submit") submit
