doctype html
html
  head
    title= title
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    | <!--[if gt IE 8]> <script type="text/javascript" src="/javascripts/vendors/excanvas.compiled.js"></script> <!--<![endif]-->
  body
    a(href="/") Accueil
    block content
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/player.js')
  script(src='/javascripts/canvas/tileset.js')
  script(src='/javascripts/canvas/map.js')
  script(src='/javascripts/canvas/canvas.js')
