body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
.hide
  display: none

#init
  .error
    border: 1px solid red
  #createError
    display: none
    color: red
#team
  position: absolute
  right: 10px
  top: 10px

#mapCanvas
  background: #ccc
  position: absolute
  z-index: 1

#heroCanvas
  position: absolute
  z-index: 2
