body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.hide {
  display: none;
}
#init .error {
  border: 1px solid #f00;
}
#init #createError {
  display: none;
  color: #f00;
}
#team {
  position: absolute;
  right: 10px;
  top: 10px;
}
